ElectoralApp/ElectoralApp.BAL/Connected Services/ElectoralAPI/wsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bizstageapps.azurewebsites.net/ElectoralUnifiedAPI/ElectoralUnifiedAPI.svc/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="loginReq" nillable="true" type="q1:LoginInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="ValidateUserResult" nillable="true" type="q2:RespLoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssemblyConstituencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssemblyConstituenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetAllAssemblyConstituenciesResult" nillable="true" type="q3:ArrayOfRespACInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateAssemblyConstituencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateAssemblyConstituenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetStateAssemblyConstituenciesResult" nillable="true" type="q4:ArrayOfRespACInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssemblyConstituencyCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssemblyConstituencyCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetAssemblyConstituencyCitiesResult" nillable="true" type="q5:ArrayOfRespCityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityWards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="cityId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityWardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetCityWardsResult" nillable="true" type="q6:ArrayOfRespWardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPollingStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPollingStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetPollingStationsResult" nillable="true" type="q7:ArrayOfRespPSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityPollingStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="cityId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityPollingStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetCityPollingStationsResult" nillable="true" type="q8:ArrayOfRespPSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWardPollingStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="WardId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWardPollingStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetWardPollingStationsResult" nillable="true" type="q9:ArrayOfRespPSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunityTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetCommunityTypesResult" nillable="true" type="q10:ArrayOfRespCommunityTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityCommunities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="cityId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityCommunitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetCityCommunitiesResult" nillable="true" type="q11:ArrayOfRespCommunityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCityCommunities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="searchInfo" nillable="true" type="q12:CommunitySearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCityCommunitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="SearchCityCommunitiesResult" nillable="true" type="q13:ArrayOfRespCommunityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="communityReq" nillable="true" type="q14:CommunityInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AddCityCommunityResult" nillable="true" type="q15:RespCommunityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCastes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCastesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetCastesResult" nillable="true" type="q16:ArrayOfRespCasteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCastes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="casteId" type="xs:int" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCastesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetSubCastesResult" nillable="true" type="q17:ArrayOfRespSubCasteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="ACId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetPartiesResult" nillable="true" type="q18:ArrayOfRespPartyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetVoterTypesResult" nillable="true" type="q19:ArrayOfRespVoterTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterStatusTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterStatusTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetVoterStatusTypesResult" nillable="true" type="q20:ArrayOfRespVoterStatusTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAssemblyConstituencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAssemblyConstituenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetUserAssemblyConstituenciesResult" nillable="true" type="q21:ArrayOfRespACInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConstituencyVoters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="searchReq" nillable="true" type="q22:SearchInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConstituencyVotersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="SearchConstituencyVotersResult" nillable="true" type="q23:RespSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="voterId" type="xs:long" />
        <xs:element minOccurs="0" name="hashValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="GetVoterInfoResult" nillable="true" type="q24:RespVoterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVoters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="searchReq" nillable="true" type="q25:SearchFiltersInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVotersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="SearchVotersResult" nillable="true" type="q26:RespSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoterExtInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="voterInfoReq" nillable="true" type="q27:VoterExtInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoterExtInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AddVoterExtInfoResult" nillable="true" type="q28:RespVoterExtStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvSearchConstituencyVoters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="searchReq" nillable="true" type="q29:AdvSearchInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvSearchConstituencyVotersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AdvSearchConstituencyVotersResult" nillable="true" type="q30:AdvRespSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvGetVoterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="voterInfoReq" nillable="true" type="q31:AdvVoterInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvGetVoterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AdvGetVoterInfoResult" nillable="true" type="q32:AdvRespVoterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvAddVoterExtInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="voterInfoReq" nillable="true" type="q33:AdvVoterExtInfoReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvAddVoterExtInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AdvAddVoterExtInfoResult" nillable="true" type="q34:RespAdvVoterExtStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvGetVoterExtInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="voterInfoReq" nillable="true" type="q35:AdvVoterExtDataReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvGetVoterExtInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ElectoralUnifiedAPI" minOccurs="0" name="AdvGetVoterExtInfoResult" nillable="true" type="q36:AdvRespVoterExtInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>